exclude Makefile
exclude .editorconfig
recursive-exclude .github *
recursive-exclude tests *
recursive-include src py.typed
exclude *.yaml
exclude *.yml
include README.md
include LICENSE
exclude generate-currencies.py
exclude generate-requirements.txt
